.servicio {
    border: 2px solid coral;
    border-radius: 50%;
    margin: 5px;
    padding: 10px;
}

#servicio_central{
    border: 2px solid coral;
    border-radius: 50%;
    margin: 5px;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
}

#lista_central {
    list-style-type: circle;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#lista_central li {
    margin-bottom: 10px;
}

.calculadora{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;
    grid-gap: 10px;

    padding-left: 50px;
    margin-right: 100px;
}

#cbServicios{
    grid-column: 1;
    grid-row: 1 / 2;

    padding-left: 35%;
    
    text-align: left;
}

#cbServicios input{
margin-top: 12px;
}

#dlLocalizacion{
    grid-column: 1;
    grid-row: 2;
}

#listaCliete{
    grid-column: 2;
    grid-row: 1;
}

#radioFrecuencia{
    grid-column: 2;
    grid-row: 2 / 3;

    padding-left: 35%;
    text-align: left;
}

#radioFrecuencia input{
    margin-top: 5px;
}



/*
.lista_servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 50px 100px;
    grid-gap: 5px;
}

.servicio_izq{
    grid-column: 2;
    grid-row: 3;
}

.servicio_dcha{
    grid-column: 4; 
    grid-row: 3;
}

.servicio_central{
    grid-column: 3;
    grid-row: 1 / 5;
}

.flecha_izq{
    grid-column: 1;
    grid-row: 3;
}

.flecha_dcha{
    grid-column: 5;
    grid-row: 3;
}*/