h1 {
    margin-top: 100px;
    margin-bottom: 70px;
}

/* Estilos para el contenedor principal */
section {
    display: flex;
    flex-direction: row; /* Alinear los elementos en fila */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    margin-bottom: 50px; /* Agregar margen inferior para separación */
}

#mapa {
    width: 40%; /* El mapa ocupa la mitad del contenedor */
    margin-left: 120px;
}

.contenedor {
    width: 45%; /* La lista ocupa el 45% del contenedor */
    list-style-type: none;
    text-align: center;
}

ul {
    column-count: 1;
    text-align: center;
}

/* Estilos para los elementos de la lista */
.contenedor li {
    margin-top: 20px; /* Agregar espacio superior entre los elementos */
}

@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    section {
        flex-direction: column; /* Cambiar a diseño de columna en pantallas más pequeñas */
        align-items: center; /* Centrar los elementos horizontalmente */
    }

    #mapa {
        margin-bottom: 20px; /* Espacio entre el mapa y la lista en pantallas pequeñas */
        margin-left: 0;
    }

    ul {
        column-count: 2;
    }

    .contenedor {
        width: auto; /* Cambiar el ancho a automático para adaptarse al contenido */
    }

    .contenedor li {
        margin-top: 0; /* Eliminar margen superior en pantallas más pequeñas */
    }
}
