h1 {
    margin-top: 0;
    padding-top: 85px;
    padding-bottom: 85px;

    background-image: url(../imagenes/fondo-contacto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos para el contenedor principal */
section {
    display: flex;
    flex-direction: row; /* Alinear los elementos en fila */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alinear los elementos en la parte superior */
    margin-top: 30px;
    margin-bottom: 30px; /* Agregar margen inferior para separación */
}

#mapa {
    width: 40%; /* El mapa ocupa la mitad del contenedor */
    margin-left: 120px;
}

.contenedor {
    width: 45%; /* La lista ocupa el 45% del contenedor */
    list-style-type: none;
    text-align: center;
}

ul {
    column-count: 1;
    text-align: center;
}

/* Estilos para los elementos de la lista */
.contenedor li {
    margin-top: 20px; /* Agregar espacio superior entre los elementos */
}

@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    section {
        flex-direction: column; /* Cambiar a diseño de columna en pantallas más pequeñas */
        align-items: center; /* Centrar los elementos horizontalmente */
    }

    #mapa {
        margin-bottom: 20px; /* Espacio entre el mapa y la lista en pantallas pequeñas */
        margin-left: 0;
    }

    ul {
        column-count: 2;
    }

    .contenedor {
        width: auto; /* Cambiar el ancho a automático para adaptarse al contenido */
    }

    .contenedor li {
        margin-top: 0; /* Eliminar margen superior en pantallas más pequeñas */
    }
}




/* -------------------------------------------------------- Estilos para el formulario --------------------------------------------------*/
.seccion-dos {
    margin-bottom: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url(../imagenes/fondo-contacto4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h2-que-necesitas {
    color: #fff;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    border-color: #622c0c;
    background-color: rgb(255, 224, 138);
    border: 2px solid rgb(255, 224, 138);
    border-radius: 10px;
    padding: 40px;
    color: #622c0c;
    margin-bottom: 50px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-mid-row {
    display: flex;
    width: 50%;
}

.form-group {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.form-group label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #de8c40;
    color: #fff;
    font-size: 20px;
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #622c0c;
}

/* Media query para reorganizar los elementos cuando el ancho de la pantalla sea menor */
@media (max-width: 900px) {
    .form-mid-row {
        flex-wrap: wrap; 
        width: 100%;
    }
}


